doctype html
html
	head
		meta(charset='utf-8')
		title=title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')

		link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
		link(href='https://fonts.googleapis.com/css?family=Poppins:200,300,600,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Playfair+Display', rel='stylesheet')

		link(rel='stylesheet', href='/css/complements.css')
		link(rel='stylesheet', href='/css/style.css')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-16075689-48', 'auto');ga('send', 'pageview');
		script.
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '1709206192717731');fbq('track', 'PageView');
		noscript
				img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1709206192717731&ev=PageView&noscript=1')
	body(id=id)
		header#header
		section#main-container.wrapper

		script(src='https://code.jquery.com/jquery-2.2.3.min.js')
		script(type='application/javascript' src='/js/bootstrap.min.js')
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD7FeeXEe_JgmG3DrAtHJoUFNzZVt0DXyQ')
		script(type='application/javascript' src='/js/app.js')