doctype html
html
	head
		meta(charset='utf-8')
		title=title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no')
		link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
		style body {font-family: Arial, Helvetica, sans-serif;}
	body
		div(style='padding-top:50px; padding-left:50px; padding-right:50px;')
			h1.small Políticas de Privacidad.
			p(style='font-size:13px;')
				| En La Jolla Luxury Beach respetamos su derecho a la privacidad y nos encontramos comprometidos con la protección de sus datos personales. Todos los procedimientos y operaciones se encuentran adecuados a la Ley 29733, Ley de Protección de datos personales, y el Decreto Supremo 003-2013-JUS, Reglamento de la Ley de Protección de Datos Personales. Por ello, ponemos a su disposición la Política de Privacidad aplicable al tratamiento de sus datos personales.
			br
			br
			h4 1. Recolección y procesamiento de los datos personales
			p(style='font-size:13px;')
				| Al registrar sus datos en nuestra página web usted consiente en proporcionar por tiempo indefinido a La Jolla Luxury Beach. sus datos personales tales como: nombres, correo electrónico, teléfonos, entre otra información que sea solicitada en nuestras páginas web o que usted proporcione voluntariamente. . Asimismo, usted declara que este consentimiento prevalecerá sobre cualquier inscripción en el registro "Gracias… no insista" de Indecopi, el que lo reemplace, o cualquier lista de bloqueo para el envío de comunicaciones. Sin embargo, usted siempre puede revocar su consentimiento o contactarse con nosotros, conforme a la sección 5 de la Política de Privacidad.
			br
			h4 2. Finalidad
			p(style='font-size:13px;')
				| Al proporcionar sus datos, usted autoriza a La Jolla Luxury Beach y/o a las empresas que conforman el mismo grupo inmobiliario para que pueda tratar sus datos personales según las siguientes finalidades: i) enviarle información sobre los proyectos, promociones y servicios ofrecidos por La Jolla Luxury Beach o las empresas pertenecientes al mismo grupo económico; ii) realizar encuestas y concursos; iii) administrar nuestra lista de clientes; y, iv) atender consultas, sugerencias, reclamos y hacer seguimiento de estos.
			br
			h4 3. Tratamiento y transferencia
			p(style='font-size:13px;')
				| La Jolla Luxury Beach y/o a las empresas que conforman el mismo grupo inmobiliario tratará sus datos personales según las finalidades indicadas en el punto anterior. Este tratamiento consistirá en el registro, almacenamiento, utilización, actualización o comunicación de sus datos personales. Estos serán registrados en una base de datos administrada por nosotros. El tratamiento podrá ser realizado directamente por La Jolla Luxury Beach y/o a través de las empresas que conforman el mismo grupo inmobiliario y/o a través de un tercer agente, designado por La Jolla Luxury Beach, dentro o fuera del territorio nacional, únicamente para las finalidades aquí detalladas y autorizadas por usted. En cualquier caso, La Jolla Luxury Beach garantiza la seguridad y confidencialidad del tratamiento de sus datos personales.
			br
			h4 4. Medidas de seguridad
			p(style='font-size:13px;')
				| La Jolla Luxury Beach y/o a las empresas que conforman el mismo grupo inmobiliario adoptarán todas las medidas técnicas y organizacionales razonables para garantizar la seguridad y confidencialidad de sus datos personales contra el uso indebido, la alteración, pérdida o divulgación no autorizada.
			br
			h4 5. Contacto y ejercicio de derechos de titulares de datos personales
			p(style='font-size:13px;')
				| Si usted tuviera consultas, comentarios, sugerencias y preguntas sobre nuestra Política de Privacidad o desea ejercer sus derechos como titular de datos personales, por favor escríbanos al siguiente correo electrónico: 
				a(href='mailto:informes@lajolla.com.pe') informes@lajolla.com.pe
			br