@import 'node_modules/bootstrap/dist/css/bootstrap.min.css'
@import 'node_modules/font-awesome/css/font-awesome.min.css'
@import 'node_modules/swiper/dist/css/swiper.css'
@import 'nib/vendor'
vendor-prefixes = o ms moz webkit official

$customCeleste = #29AAE1;
$textForm = #ACB8C0;



article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

@charset "UTF-8";
/*
––––––––––––––––––––––––––––––––––––––––––––––––––
Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- 1. Common Styles & Initials
- 2. Countdown
- 3. Portfolio
- 4. Map
- 5. Contact
- 6. Demo
- 7. Counters
- 8. Owl carousel - testimonial
- 9. Parallax
- 10. Responsive
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
/*
––––––––––––––––––––––––––––––––––––––––––––––––––
1. Common Styles & Initials
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
	overflow-x: hidden; }

::-webkit-scrollbar {
	display: none; }

@media (min-width: 1200px) and (max-width: 2000px) {
	.container {
	width: 80%; } }
@media (min-width: 2001px) {
	.container {
	width: 1400px; } }
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;
	color: #31383e; }

.background_page {
	position: absolute;
	z-index: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%; }

.fontPlayFairDisplay
	font-family 'Playfair Display', serif
	font-weight 400

p {
	margin-bottom: 0; }

a {
	color: inherit;
	text-decoration: none !important; }

a:hover, a:focus {
	color: $customCeleste !important;
	outline: none !important;
	box-shadow: none !important; }

button:focus {
	outline: none !important;
	box-shadow: none !important; }

.p_l_0 {
	padding-left: 0;
	padding-right: 30px; }

.p_r_0 {
	padding-right: 0;
	padding-left: 30px; }
		
.p_r1_0 {
	padding-right: 0;
	padding-left: 10px; }

.btn {
	line-height: 40px;
	padding: 0 25px;
	background: none;
	color: rgba(0, 0, 0, 0.76);
	margin-top: 3%;
	letter-spacing: 0.5px;
	border-radius: 0;
	border: 2px solid #31d093;
	box-shadow: 0 0 35px -15px #000;
	-ms-transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	transition: background 0.5s; }
	.btn:hover {
	background: $customCeleste; }

.h_bordered {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 50px;
	line-height: 50px; }
	.h_bordered::before {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: -11px;
	left: 0;
	width: 100px;
	height: 100px;
	border: 5px solid;
	border-top-color: #ffcb00;
	border-left-color: #efc00c;
	border-right-color: #f9e491;
	border-bottom-color: #caa103;
	box-shadow: 0 0 35px -15px #000; }

.h_bordered2
	position relative
	z-index 1
	display inline-block
	padding-bottom 25px
	margin-bottom 25px
	line-height 50px
	&:before
		content ''
		position absolute
		z-index -1
		bottom 0
		left 0
		width 50px
		height 0
		border-bottom 2px solid $customCeleste

.h_bordered22 {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding-bottom: 25px;
	margin-bottom: 25px;
	line-height: 50px; }
	.h_bordered22::before {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 0;
	border-bottom: 2px solid #fff; }

.bordered {
	border: 5px solid;
	border-top-color: #ffcb00;
	border-left-color: #efc00c;
	border-right-color: #f9e491;
	border-bottom-color: #caa103;
	box-shadow: 0 0 35px -15px #000; }

.img_shadow {
	box-shadow: 0 2px 20px -5px #aeb9c1; }

.heading_big {
	font-size: 124px;
	line-height: 124px;
	letter-spacing: 4px; }

.heading_65 {
	font-size: 65px;
	line-height: 1.2; }

.heading_54 {
	font-size: 54px;
	line-height: 1.2; }
	
.heading_49 {
	font-size: 49px;}

.heading_42 {
	font-size: 42px;
	line-height: 1.5; }

.heading_32 {
	font-size: 32px;
	line-height: 1.3; }

.heading_24 {
	font-size: 24px;
	line-height: 1.5; }
	
.heading_21 {
	font-size: 21px;}

.heading_18 {
	font-size: 18px;
	line-height: 1.5; }

.heading_16 {
	font-size: 16px;
	line-height: 1.5; }

.heading_14 {
	font-size: 14px;
	line-height: 1.5; }

.font_light {
	font-weight: 200; }

.font_bold {
	font-weight: 700; }

.font_semibold {
	font-weight: 600; }

.font_normal {
	text-transform: inherit; }

.color_white {
	color: #fff; }

.color_black {
	color: #31383e; }

.color_grey {
	color: #f7f7f7; }

.color_grey2 {
	color: #aeb9c1; }

.color_grey3 {
	color: #6f7a82; }

.color_blue {
	color: #5B8EFB; }

.color_blue2 {
	color: #0b102a; }

.color_red {
	color: #f9223e; }

.color_green {
	color: #31d093; }

.color_purple {
	color: #8b41c4; }

.color_purple2 {
	color: #642f8d; }

.color_purple3 {
	color: #200838; }

.color_yellow {
	color: #ffcb00; }

.color_yellow2 {
	color: #efc00c; }

.color_pink {
	color: #ff3366; }

.color_purple_blue {
	background-image: linear-gradient(to right top, #8b41c4, #5B8EFB);
	color: transparent;
	-webkit-background-clip: text; }

.color_red_purple {
	background-image: linear-gradient(to right top, #f9223e, #8b41c4);
	color: transparent;
	-webkit-background-clip: text; }

.color_red_blue {
	background-image: linear-gradient(to right top, #f9223e, #5B8EFB);
	color: transparent;
	-webkit-background-clip: text; }

.color_purple_purple3 {
	background-image: linear-gradient(to right top, #8b41c4, #200838);
	color: transparent;
	-webkit-background-clip: text; }

.color_green_blue {
	background-image: linear-gradient(to right top, #31d093, #5B8EFB);
	color: transparent;
	-webkit-background-clip: text; }

.background_white {
	background: #fff; }

.background_black {
	background: rgba(0, 0, 0, 0.76); }

.background_grey {
	background: #f7f7f7; }

.background_blue2 {
	background: #0b102a; }

.background_green {
	background: #31d093; }

.background_yellow {
	background: #ffcb00; }

.background_blue {
	background: #5B8EFB; }
	.background_blue.btn:hover {
	background: #0b102a;
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_red {
	background: #f9223e; }
	.background_red.btn:hover {
	background: #d21d34;
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_green {
	background: #31d093; }
	.background_green.btn:hover {
	background: #28a877;
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_purple {
	background: #8b41c4; }
	.background_purple.btn:hover {
	background: #642f8d;
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_purple2 {
	background: #642f8d; }
	.background_purple2.btn:hover {
	background: #200838;
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_purple3 {
	background: #200838; }
	.background_purple3.btn:hover {
	background: #642f8d;
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_purple_blue {
	background: linear-gradient(to right top, #8b41c4, #5B8EFB); }
	.background_purple_blue.btn:hover {
	background: linear-gradient(to right top, #642f8d, #0b102a);
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_red_purple {
	background: linear-gradient(to right top, #f9223e, #8b41c4); }
	.background_red_purple.btn:hover {
	background: linear-gradient(to right top, #d21d34, #642f8d);
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_red_blue {
	background: linear-gradient(to right top, #f9223e, #5B8EFB); }
	.background_red_blue.btn:hover {
	background: linear-gradient(to right top, #d21d34, #0b102a);
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_purple_purple3 {
	background: linear-gradient(to right top, #642f8d, #200838); }
	.background_purple_purple3.btn:hover {
	background: linear-gradient(to right top, #200838, #200838);
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_green_blue {
	background: linear-gradient(to right top, #31d093, #5B8EFB); }
	.background_green_blue.btn:hover {
	background: linear-gradient(to right top, #28a877, #0b102a);
	box-shadow: 0 5px 55px -5px #0e0e0e;
	transition: 0.5s; }

.background_n {
	background: none; }

hr {
	margin-top: 5vh;
	margin-bottom: 5vh;
	border: 0;
	border-top: 1px solid #d7d7d7;
	width: 100%;
	display: inline-block; }

ul {
	margin: 0;
	padding: 0;
	list-style: none; }

.space {
	width: 100%;
	height: 5vh;
	display: inline-flex; }

.space2 {
	width: 100%;
	height: 7.5vh;
	display: inline-flex; }
	
.spaceText {
	width: 100%;
	height: 2vh;
	display: inline-flex; }

.social_list {
	position: relative;
	z-index: 5;
	float: right;
	padding-left: 15px;
	margin: 38px 0 42px 5px;
	border-left: 1px solid #aeb9c1; }
	.social_list li {
	padding-left: 0;
	padding-right: 10px;
	color: #0e0e0e;
	line-height: 25px; }
	.social_list li a:hover i {
		color: $customCeleste; }

.lang_list
	a.active
		color #31383e
		font-weight 600

.copyright
	font-size 13px
	float right
	line-height 5vw
	span
		font-size 24px

.h_contact
	font-size 13px
	div
		float left
		line-height 5vw
		&:nth-child(1)
			margin-right 25px

footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 5%; }

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)); }

.overlay_v {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35), transparent, transparent) !important; }

.overlay_header {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 105px;
	background: linear-gradient(to bottom, rgba(14, 14, 14, 0.75), rgba(9, 19, 41, 0.4), rgba(9, 19, 41, 0.2), rgba(9, 19, 41, 0)); }

.d_table {
	display: table; }

.v_table {
	display: table-cell;
	vertical-align: middle; }

#particles-js {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0; }

#wavybg-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2; }

.progress {
	height: 5px;
	background: #f7f7f7;
	margin-bottom: 25px; }

.progress-bar {
	background: #31d093; }

.countdown {
	width: 100%;
	margin: 25px 0 0 0; }
	.countdown ul#countdown {
	padding: 0; }
	.countdown ul#countdown li {
		display: inline-block;
		margin: 0;
		padding: 15px 0;
		line-height: 1;
		min-width: 90px;
		border: 1px solid rgba(255, 255, 255, 0.25);
		margin-left: -1px;
		background: rgba(0, 0, 0, 0.1);
		text-align: center; }

.portfolio-filters {
	position: relative; }
	.portfolio-filters ul {
	margin: 0; }
	.portfolio-filters ul li {
		padding: 0; }
		.portfolio-filters ul li a {
		position: relative;
		text-transform: uppercase;
		display: inline-block;
		transition: all 0.3s ease;
		color: #9a9a9a;
		padding: 0;
		margin: 0 15px; }
		.portfolio-filters ul li a.active {
			color: #31d093; }
			.portfolio-filters ul li a.active::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: #31d093;
			animation: border_tab 0.5s; }
		.portfolio-filters ul li a:hover {
			color: #31d093;
			transition: all 0.3s ease; }
		.portfolio-filters ul li:first-child a {
		margin-left: 0; }

@keyframes border_tab {
	0% {
	width: 0; }
	100% {
	width: 100%; } }
 

.portfolio-item
.portfolio-sizer
	width 25%
.portfolio-item
	float left
	height 250px
	img
		width 100%
		height 250px
		object-fit cover
		transition 0.3s
.portfolio-item--width2
	width 50%
.portfolio-item
	&.portfolio-item--height2
		height 500px
		img
			height 500px

.lightbox-gallery
	a
		.project-image
			background $customCeleste
			transition 0.3s
			display inline-flex
			width 100%
		&:hover
			cursor url("../images/cursor-plus.gif") 40 40, auto
			img
				opacity 0.25
				transition 0.3s

#google-container {
	position: relative;
	width: 100%;
	height: 500px;
	background-color: #e7eaf0; }

@media only screen and (min-width: 768px) {
	#google-container {
	height: 500px; } }
@media only screen and (min-width: 1170px) {
	#google-container {
	height: 500px; } }
#cd-google-map {
	position: relative; }

#cd-zoom-in, #cd-zoom-out {
	display: none;
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: 32px 64px;
	background-image: url("../images/cd-icon-controller.svg"); }

#cd-zoom-in {
	background-position: 50% 0;
	margin-top: 10px;
	margin-bottom: 1px; }

@media only screen and (min-width: 768px) {
	#cd-zoom-in {
	margin-top: 5px; } }
#cd-zoom-out {
	background-position: 50% -32px; }

.subscribe {
	text-align: left;
	width: 450px;
	margin: 0 auto;
	display: inline-block; }
	.subscribe .subscribe_form label {
	font-weight: 600;
	margin-bottom: 15px;
	color: #fff; }
	.subscribe .subscribe_form #mail-subscribe {
	width: 305px;
	height: 45px;
	padding: 0 15px;
	line-height: 45px;
	float: left;
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 0;
	color: #fff; }
	.subscribe .subscribe_form #mail-subscribe:focus {
		border: 1px solid #fff; }
	.subscribe .subscribe_form .submit {
	float: right;
	margin: 0;
	color: #fff; }

.wrapper {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100vh;
	min-height: 100vh; }

header
	width 100%
	height 105px
	margin 0 auto
	padding 0 5vw
	position fixed
	z-index 9
	top 0
	left 0
	background #fff
	.brand
		position relative
		z-index 9
		float left
		margin 27px 0 27px 30px
		a
			width 382px
			height 51px
			background-image url(../images/logo.png)
			background-size cover
			display block
			span
				visibility hidden
	nav
		position relative
		z-index 9
		float right
		height 105px
		#nav
			line-height 105px
			ul
				li
					padding 0
					margin 0 10px
					position relative
					transition color 0.3s
					font-weight 700
					&:hover
					&.active
						color $customCeleste
		.navbar-toggle
			margin 34px 0
			padding 0
			position fixed
			right 135px
			top 0
			span
				background rgba(0, 0, 0, 0.76)

.content
	width 90%
	//height: 78%;
	min-height calc(100vh - 105px - 5vw)
	margin 105px 5vw 0 5vw
	position absolute
	z-index 0
	top 0
	padding-top 12vh
	padding-bottom 5vw
	background #f7f7f7
	&.full
		width 100%
		min-height 100vh
		margin 0
		.overlay_v
			&:before
				left -50%
				background white
		#home
			.middle
				padding-right 50vw
				p
					padding-right 15%

#condominio
#depas
#terrenos
#contacto
	&.full
		padding-top 12vh
		margin-top 105px
		margin-bottom 5vw

#home
	padding-top 0
	&.content
		height 78%
	.middle
		padding 0 40vw 0 5vw
		position relative
		z-index 5
		p
			padding-right 10%
	h1
		margin 0
		letter-spacing -0.05em
		line-height 28px
	h3
		margin 0
		letter-spacing -0.05em
		line-height 28px
		padding-bottom 4px
		background-image url(../images/line_text.png)
		background-repeat no-repeat
		background-position bottom left
		background-size 132px 3px
	.overlay
		background linear-gradient(to right, rgba(14, 14, 14, 0.85), rgba(9, 19, 41, 0.46), rgba(26, 66, 125, 0.22), rgba(26, 66, 125, 0)) !important
	.v_1
		background-image url("../images/img.jpg")
		background-position center left
	.v_2
		background-image url("../images/img.jpg")
	.v_3
		background-image url("../images/img.jpg")
		background-position top left
	.textBottom
		position absolute
		bottom 7%
		left 3%
		z-index 1
	

.services .service {
	position: relative;
	padding: 0;
	width: 29.5%;
	float: left;
	transition: color 0.25s; }
	.services .service:nth-child(2) {
	margin: 0 5%; }
	.services .service:hover {
	color: #fff; }
	.services .service:hover::before {
		background: #31d093; }
	.services .service::before {
	content: '';
	position: absolute;
	z-index: 0;
	top: 0;
	left: -25px;
	width: 100%;
	height: 100%;
	background: transparent;
	transition: background 1s; }
	.services .service ul, .services .service h6 {
	position: relative;
	z-index: 1; }
	.services .service li {
	margin: 5px 0; } 


.team
.areas-comunes
	width 100%
	display inline-block
	background-image url("../images/condominio_img3.jpg")
	background-repeat no-repeat
	background-size cover
	background-attachment fixed
	position relative
	&:before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		z-index 0
		background rgba(0, 0, 0, 0.75)
	.item
		padding 0
		background #fff
		position relative
		width 29.5%
		height 350px
		border-radius 6px
		overflow hidden
		display inline-block
		text-align center
		&:nth-child(2)
			margin 0 5%
		&:hover 
			.item_img
				&:before
					width 100%
					height 100%
					top 0
					left 0
					border-radius 0
			p
				color $customCeleste
				text-shadow 0 0 2px rgba(0, 0, 0, 0.76)
			li
				background #fff
		.item_img
			position absolute
			z-index 0
			width 100%
			height 100%
			overflow hidden
			img
				width 100%
				height 100%
				object-fit cover
				object-position top
			&:before
				content ''
				position absolute
				z-index 1
				width 150px
				height 150px
				top 50px
				left calc(50% - 75px)
				border-radius 50%
				box-shadow 0 0 0 500px #f7f7f7
				transition border-radius 0.4s, width 0.4s, height 0.4s, top 0.4s, left 0.4s
		.item_content
			position absolute
			z-index 1
			bottom 15px
			padding 0 20px
			width 100%
			ul
				li
					width 25px
					height 25px
					border-radius 20px
					padding 4px 0
					text-align center
					transition background 0.25s
					&:nth-child(1)
						color #3b5998
					&:nth-child(2)
						color #4099FF
					&:nth-child(3)
						color #8a3ab9
	.color_white
		color #fff !important
		
.areas-comunes
	.item
		width 100%
	.swiper
		padding-bottom 50px
		
.swiper-pagination-bullet
	width 16px
	height 16px
	background #FFF
.swiper-pagination-bullet-active
	background $customCeleste
	opacity 1

.testimonials {
	width: 100%;
	display: inline-block; }
	.testimonials .item {
	padding: 25px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	box-shadow: 0 0 25px -10px #aeb9c1; }
	.testimonials .item:nth-child(2) {
		margin: 0 5%; }
	.testimonials .item .item_img {
		width: 75px;
		height: 75px; }
		.testimonials .item .item_img img {
		width: 100%;
		height: 100%;
		object-fit: cover; }
	.testimonials .item .item_person {
		padding-left: 125px;
		padding-top: 21px; }
		.testimonials .item .item_person span {
		color: #6f7a82; }
	.testimonials .item .item_txt {
		width: 100%;
		display: inline-block;
		margin-top: 25px;
		font-size: 13px;
		color: #6f7a82; }
	.testimonials .swiper-testimonial {
	padding-bottom: 50px; }
	.testimonials .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
	bottom: 0;
	width: 100%; }
	.testimonials .swiper-pagination-bullet-active {
	background: #31d093; }
	.testimonials .swiper-pagination-bullet {
	margin: 0 2px; }

.clients {
	width: 100%;
	display: inline-block;
	padding: 0 25px; }
	.clients img {
	 margin: 0 auto;
	filter: grayscale(50%) brightness(2); }

/*Loading*/
#loading
	width 100vw
	height 100vh
	background #FFF
	position fixed
	z-index 9999

.loader-bg
	position absolute
	top 50%
	left 50%
	margin-top -110px
	margin-left -22px
 
.loader,
.loader:before,
.loader:after {
	background: #29AAE1;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 4px;
	height: 4em;
}
.loader {
	color: #29AAE1;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -0.7em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 0.7em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 1em;
		opacity: 0.5;
		filter: opacity(50%);
	}
	40% {
		box-shadow: 0 -1em;
		height: 2.5em;
		opacity: 1;
		filter: opacity(100%);
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 1em;
		opacity: 0.5;
		filter: opacity(50%);
	}
	40% {
		box-shadow: 0 -1em;
		height: 2.5em;
		opacity: 1;
		filter: opacity(100%);
	}
}

 /*Loading*/ 
	
 /**/
	
 /**/

/* Scroll to effect */
.animate {
	opacity: 0; }

.animate.start {
	opacity: 1; }

/* Scroll to effect */
.animate {
	animation-play-state: paused;
	-webkit-animation-play-state: paused; }

.animate.start {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	animation-play-state: running;
	-webkit-animation-play-state: running; }
/*
@media all and (min-width: 1920px) {
	body {
	font-size: 16px; }

	.heading_65 {
	font-size: 75px;
	line-height: 1.2; }

	.heading_54 {
	font-size: 64px;
	line-height: 1.2; }

	.heading_42 {
	font-size: 52px;
	line-height: 1.5; }

	.heading_32 {
	font-size: 42px;
	line-height: 1.5; }

	.heading_24 {
	font-size: 28px;
	line-height: 1.5; }

	.heading_18 {
	font-size: 24px;
	line-height: 1.5; }

	.heading_16 {
	font-size: 20px;
	line-height: 1.5; }

	.heading_14 {
	font-size: 16px;
	line-height: 1.5; }

	#home .middle {
	padding: 0 50vw 0 5vw; }

	.team .item {
	height: 450px; }

	.team .item .item_img::before {
	width: 200px;
	height: 200px;
	top: 60px;
	left: calc(50% - 100px); }

	#terrenos .portfolio-item {
	height: 350px; }
	#terrenos .portfolio-item img {
		height: 350px; }
	#terrenos .portfolio-item.portfolio-item--height2 {
	height: 700px; }
	#terrenos .portfolio-item.portfolio-item--height2 img {
		height: 700px; }

	header {
	height: 125px; }
	header .brand {
		margin: 48.5px 0; }
	header nav {
		height: 125px; }
	header .social_list {
		margin-top: 50px; } }
@media all and (min-width: 1921px) {
	body {
	font-size: 24px; }

	.heading_65 {
	font-size: 85px;
	line-height: 1.2; }

	.heading_54 {
	font-size: 74px;
	line-height: 1.2; }

	.heading_42 {
	font-size: 62px;
	line-height: 1.5; }

	.heading_32 {
	font-size: 52px;
	line-height: 1.5; }

	.heading_24 {
	font-size: 38px;
	line-height: 1.5; }

	.heading_18 {
	font-size: 34px;
	line-height: 1.5; }

	.heading_16 {
	font-size: 28px;
	line-height: 1.5; }

	.heading_14 {
	font-size: 24px;
	line-height: 1.5; }

	.team .item {
	height: 550px; }

	.team .item .item_img::before {
	width: 300px;
	height: 300px;
	top: 60px;
	left: calc(50% - 150px); }

	.testimonials .item .item_txt {
	font-size: 18px; } }*/
@media all and (min-width: 1025px) and (max-width: 1400px) {
	body {
		font-size: 13px; }

	.copyright {
		line-height: 3vw; }

	.h_contact div {
		line-height: 3vw; }

	#home .middle {
		padding: 0 40vw 0 3vw; }

	header {
		padding: 0 3vw;
		font-size: 12px;
		height: 85px; }
	header .brand {
		margin: 17px 0; }
	header nav {
		height: 85px; }
	header nav #nav {
		line-height: 85px; }
	header .social_list {
		margin: 30px 0 30px 20px; }

	footer {
		padding: 0 3vw;
		font-size: 12px; }

	.content {
	width: 94%;
	min-height: calc(100vh - 85px - 3vw);
	margin: 85px 3vw 3vw 3vw; } 

	.h_contact,.copyright{
		font-size: 11px;
	}
	.copyright span {
		font-size: 20px;
	}

}
	
@media all and (max-width: 1124px) {
	header .brand a{
		width: 180px;
		height 46px;
		background-image: url(../images/logo_movil.png)
	}
}
	
@media all and (max-width: 1024px) {
	#home .middle {
		padding: 0 30vw 0 3vw; }

	body, .testimonials .item .item_txt {
		font-size: 12px; }

	.heading_16 {
		font-size: 12px; }

	.testimonials .item .item_person {
		padding-left: 75px;
		padding-top: 10px; }

	.testimonials .item .item_img {
		width: 50px;
		height: 50px; }
	
	.h_contact,.copyright{
		font-size: 11px;
	}
	.copyright span {
		font-size: 20px;
	}
	header .brand{
		margin: 27px 0 27px 0px;
	}
	
}
@media all and (max-width: 992px)
	#home
		.middle
			padding 0 10vw 0 3vw

	.content.full
		&#home
			.middle
				padding-right 10vw

	#terrenos
	#depas
		.portfolio-item
		.portfolio-sizer
			width 50% 
		.portfolio-item
			height: 200px
			img
				height 200px
		.portfolio-item--width2
			width 100%
		.portfolio-item
			&.portfolio-item--height2
				height 400px
				img
					height 400px
	footer
		.copyright
			display none
	

@media all and (max-width: 767px) {
	header.background_n button.navbar-toggle.collapsed span {
	background: #fff !important; }

	header.background_n nav ul li {
	color: #444; }

	.heading_16 {
	font-size: 12px; }

	.testimonials .item .item_person {
	padding-left: 75px;
	padding-top: 10px; }

	.testimonials .item .item_img {
	width: 50px;
	height: 50px; }

	header nav ul li {
	margin: 0; }

	header nav .navbar-toggle {
	position: absolute;
	right: 0; }

	header {
	position: absolute;
	padding: 0 3vw;
	font-size: 12px;
	height: 85px; }
	header .brand {
		margin: 20px 0; }
	header .brand a{
		width: 180px;
		height: 46px;
	}
	header .social_list {
		margin: 30px 0 30px 20px; }
	header #nav {
		width: 100%;
		background: #fff;
		border: none;
		position: fixed;
		left: 0;
		top: 85px;
		line-height: 25px !important;
	}
		
	#navigation{
		width: 100%;
		display: block;
		padding: 30px 0;
		margin-left: 0px;
	}
	#navigation li{
		display: block;
	}
	
	#navigation li a{
		width: 100%;
		display: inline-block;
		text-align: center;
		font-size 18px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.content {
	width: 94%;
	min-height: calc(100vh - 85px - 3vw);
	margin: 85px 3vw 3vw 3vw; }

	#home .middle {
	padding: 50px 3vw; }

	.swiper-slide.fadeInUpBig.animate.swiper-slide-active {
	opacity: 1; }

	.subscribe {
	width: 280px; }

	.subscribe .subscribe_form #mail-subscribe {
	width: 250px; }

	.subscribe .subscribe_form .submit {
	float: left;
	margin: 15px 0 0 0; }

	.col-xs-12 {
	padding: 0 30px; }
	
	
	footer{
		padding: 0 3%;
	}
	.heading_49 {
		font-size: 40px;
	}
	.heading_21 {
		font-size: 17px;
	}
	.launchVideo{
		padding: 8px 17px 6px 26px !important;
		font-size: 40px !important;
		margin-top: -49px !important;
		margin-left: -49px !important;
	}
	.launchForm, .closeVideo{
		right: -22px !important;
		padding: 12px 18px !important;
		font-size: 25px !important;
	}
	.closeVideo{
		padding: 12px 21px !important;
	}
	#home h3{
		background-size: 110px 2px;
		padding-bottom: 1px;
	}
}
@media all and (max-width: 480px) {
	.heading_big {
	font-size: 64px;
	line-height: 64px;
	letter-spacing: 2px; }

	.heading_65 {
	font-size: 45px; }

	.heading_54 {
	font-size: 34px; }
	
	.heading_49{
	font-size: 29px;}

	.heading_42 {
	font-size: 22px; }

	.heading_32 {
	font-size: 18px; }

	.heading_24 {
	font-size: 16px; }
	
	.heading_21 {
	font-size: 15px;}

	.heading_18 {
	font-size: 14px; }

	.heading_16 {
	font-size: 12px; }

	.heading_14 {
	font-size: 12px; }

	/*.wrapper {
	height: inherit; }*/

	.h_contact div {
	width: 100%;
	margin: 5px 0 !important; }

	.copyright {
	width: 100%; }

	#condominio, .team, #depas, #terrenos, #contacto {
	padding: 15px; }

	.team .item {
	width: 80%;
	margin: 0 auto 25px !important;
	display: block; }

	.clients {
	padding: 0;
	padding-bottom: 25px; }
	.clients li.col-xs-3.item {
		width: 50%; }

	.testimonials .swiper-testimonial {
	padding-bottom: 25px; }

	.services .service {
	width: 100%;
	margin: 25px 0 !important; }

	.services .service::before {
	left: -15px; }

	.portfolio-filters ul li a {
	margin: 0 3px;
	font-size: 12px; }
	footer{
		display: none;
	}
	header .brand{
		margin: 27px 0;
	}
	header .brand a {
		width: 160px;
		height: 40px;
	}
	#form-head h4{
		line-height 20px !important;
		background-size 70px 2px
	}
}
canvas#c {
	position: fixed;
	z-index: 3;
	width: 90%; }

#particles {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	opacity: 0.25; }

.vegas {
	position: absolute !important;
	width: 100%;
	height: 100% !important; }
	
.launchVideo
	position absolute
	top 50%
	left 50%
	border-radius 50%
	border 12px solid #FFF
	color #FFF
	transition all 0.2s
	padding 12px 25px 8px 35px
	z-index 3
	margin-top -64px
	margin-left -64px
	font-size 56px
	background-color transparent
	&:hover
	&:focus
		border-color $customCeleste
		color $customCeleste
		
	
.launchForm
.closeVideo
	background #FFF
	border-radius 50%
	position absolute
	bottom 5%
	right -37px
	z-index 1
	font-size 30px
	font-weight 700
	padding 12px 20px
	transition all 0.2s
	z-index 3
	border none  
	i
		color $customCeleste
	&:hover
		background $customCeleste
		i
			color #FFF
			
.closeVideo
	//display none
	padding 14px 24px
	font-size 28px

.vegas-timer
	height 10px
.vegas-timer-progress
	background-color #000
	
.VideoJolla
	//display none
	position absolute
	//padding-bottom 56.25% /* 16:9 */
	//padding-top 0
	height 0
	width 100%
	height 100%
	z-index 2
	iframe
		z-index 0
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		width 100%
		height 100%
		display block !important
		
#videoBack
	width 100%
	height 100%
	position relative
	overflow hidden

a.ytp-watermark.yt-uix-sessionlink.ytp-exp
	display none !important
		
//----------------------------------------------------------------------------------
//CONTACTO
//----------------------------------------------------------------------------------
	
.popover-content
	color #F00
	padding 0
.popover
	font-size 20px
	text-transform uppercase
	background-color transparent
	border none
	box-shadow none
	> .arrow
		display none !important
	&.right
		left auto !important
		right 27px
		margin-left 0
.checkbox
	.popover
		&.right
			right auto
			left 0 !important
			top 38px !important


.form-overlay
	width 0
	height 100%
	top 0
	left 0
	position fixed
	opacity 0
	background $textForm
	transition background 1s, opacity 0.4s, width 0s 0.4s
	
.modal-backdrop
	background-color $textForm
	
#formSuccess
	.modal-content
		box-shadow none
		background-clip inherit
		border-radius 0
		border none
	.modal-body
		padding 0
	#form-head
		padding 6vh 6vh 5vh 6vh
	.btn-send
		float none
		margin-top 20px !important
		padding 0 25px
		&.boxCeleste
			border-color $customCeleste
			color $customCeleste
	a.btn-send
		color $textForm
		margin-right 10px
.contAction
	width 100%
	float none
	text-align right

.iconCheck
	position absolute
	right 6vh
	z-index 99
	border 3px solid $customCeleste
	color $customCeleste
	padding 9px
	border-radius 50%
	top 7vh
	
	

.show-form-overlay
	.form-overlay
		width 100%
		opacity 0.7
		z-index 999
		transition background 1s, opacity 0.4s, width 0s
	&.form-submitted
		.form-overlay
			transition background 0.6s

#form-container
	color $textForm
	z-index 1000
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
	background-color #FFF
	overflow hidden
	border-radius 50%
	width 60px
	max-width 60px
	height 60px
	text-align center
	transition all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s, width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s
	display none
	&.expand
		display block
		cursor auto
		border-radius 0
		width 70%
		height 90%
		max-height 700px
		max-width 600px
		padding 0
		transition all 0.2s, max-width 0.2s cubic-bezier(0.4, 0.4, 0.2, 1) 0.1s, height 0.3s ease 0.25s
		#form-close
			cursor pointer
			position absolute
			right 6vh
			border 3px solid
			padding 6px 9px
			border-radius 50%
			top 7vh
			transition all 0.2s
			&:hover
				border-color $customCeleste
				color $customCeleste
			&:before
				font-size 26px !important
	


.fa-envelope-o::before
	display block
.fa-close::before
	display none
.expand.fa-envelope-o::before
	display none

.expand .fa-close::before
	display block
	animation none
	
#contact-form
	.form-group
		margin-bottom 0
		.form-control
			border none
			border-radius 0
			height 54px
			width 100%
			color $textForm
			background rgba(172, 184, 192, .2)
			display block
			margin 0
			box-sizing border-box
			outline none
			transform translateX(0)
			font-weight 600
			box-shadow 0 0 35px -15px #ddd
			-webkit-appearance none		
		textarea
			min-height 150px !important
			resize none
			
.comboSelect
	.form-control
		padding 0
	

#form-content
	transform translateY(150%)
	width 100%
	opacity 0
	text-align left
	transition transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s
	&.expand
		transform translateY(0px)
		opacity 1
		transition transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s
	form
		color #fff
		width 100%
		height 100%
		padding 0 6vh 5vh 6vh
		box-sizing border-box
		text-align left

#form-head
	font-size 100%
	padding 0
	color $textForm
	font-size 13px
	line-height 16px
	padding 7vh 6vh 1vh 6vh
	transition all 0.8s 0.6s
	h1
	h2
	h3
	h4
	h5
	h6
	p
		padding 0
		margin 0
	.pre
		display block
	.post
		display none
	h4
		font-weight 700
		line-height 30px
		letter-spacing -0.05em
		color $customCeleste
		margin-bottom 20px
		padding-bottom 7px
		background-image url(../images/line_text_celeste.png)
		background-repeat no-repeat
		background-position bottom left
	p
		margin-bottom 7px
	a
		color #31383e

.form-submitted
	&#form-head
		transform translateY(250%)
		.pre
			display none
		.post
			display block

.form-control
	background rgba(0, 0, 0, 0.2)
	display block
	height 50px
	width 100%
	margin 10px 0
	border-width 0
	box-sizing border-box
	border none
	border-radius 0
	outline none
	box-shadow none
	transform translateX(0)
	font-size 14px
	font-weight 600
	
.messages
	display none
	position absolute
	top 0px
	left 0px
	right 0
	bottom 0
	z-index 100
	text-align left
	background-color rgba(255, 255, 255, .9)
.boxEnviando
	position absolute
	right 9%
	bottom 7.7%
	color $customCeleste
	font-size 16px
	font-weight 600
	letter-spacing 0
	line-height 46px
	padding 0 15px
	border 2px solid $customCeleste
	
	

::-webkit-input-placeholder
:-moz-placeholder
::-moz-placeholder
:-ms-input-placeholder
	color $textForm
	font-size 90%
	


/* Edge */
input
select
textarea
	color $textForm

textarea.form-control {
	resize: none;
	height: 150px;
	padding: 10px; }

.btn-send
	color $textForm
	font-size 16px
	transition all 0.1s, transform 0s 0.6s
	background none
	font-weight 600
	letter-spacing 0
	line-height 46px
	padding 0 15px
	border 2px solid $textForm
	float right
	margin-top 0 !important
	box-shadow none
	&:hover
	&:focus
		background none
		border-color $customCeleste
		color $customCeleste

.form-control.form-error {
	animation: error 0.8s ease;
	background: rgba(0, 0, 0, 0.7); }

.form-control {
	transition: transform 0s 1s; }

.form-submitted .form-control {
	transform: translateX(150%);
	opacity: 0;
	transition: all 0.5s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s; }
	.form-submitted .form-control:nth-child(1) {
	transition-delay: 0.1s; }
	.form-submitted .form-control:nth-child(2) {
	transition-delay: 0.2s; }
	.form-submitted .form-control:nth-child(3) {
	transition-delay: 0.3s; }
	.form-submitted .form-control:nth-child(4) {
	transition-delay: 0.4s; }
	.form-submitted .form-control:nth-child(5) {
	transition-delay: 0.5s; }

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #FFF inset; }

@media (max-width: 767px) {
	#form-container.expand {
	height: 100%;
	width: 100%;
	max-width: 100%;
	max-height: 90%;
	overflow: initial;
	overflow-x: hidden;
	bottom: 0;
	right: 0; }

	/*.form-overlay {
	display: none;
	transition: none; }*/ 
}
.content_about {
	width: 90%;
	height: 100vh;
	overflow-y: scroll;
	background: #fff;
	position: fixed;
	z-index: 6;
	top: 0;
	right: 0;
	-ms-transform: translate(0px, -100vh);
	/* IE 9 */
	-webkit-transform: translate(0px, -100vh);
	/* Safari */
	transform: translate(0px, -100vh);
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	opacity: 0; }
	.content_about.on {
	-ms-transform: translate(0px, 0px);
	/* IE 9 */
	-webkit-transform: translate(0px, 0px);
	/* Safari */
	transform: translate(0px, 0px);
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	opacity: 1; }
	.content_about .content {
	color: #9a9a9a; }
	.content_about .content p, .content_about .content span {
		font-weight: lighter; }
	.content_about .content .title_section {
		margin-top: 0;
		color: #0b102a;
		position: relative;
		z-index: 1; }
	.content_about .content .boxed {
		padding: 5%;
		display: inline-block;
margin: 0 auto;
	width: 100%; }

/* estilos inputs */

.inputMarginTop
	margin-top 15px
	
.rowMarginTop
	margin-top 30px


.input
	position relative
	z-index 1
	display inline-block;
	vertical-align middle
	width 100%

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 100%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label
	display inline-block
	float right
	padding 0 1em
	width 40%
	color #31383e
	font-weight: bold
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-touch-callout none
	user-select none
	margin-bottom 0

.input__label-content
	position relative
	display block
	line-height 54px
	margin-left .6em
	width 100%

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	font-size: 200%;
}


/* Kohana */
.input--kohana {
	overflow: hidden;
	background: #fff;
}

.input__field--kohana
	padding-left 50px

.input__label--kohana
	position absolute
	width 100%
	text-align left
	pointer-events none
	color $textForm
	display table
	height 50px

.input__label-content--kohana
	display inline-block
	width auto
	transform translate3d(-2.5em, 0, 0)
	transition transform 0.3s, opacity 0.3s

.icon--kohana
	display inline-block
	transform translate3d(-2em, 0, 0)
	transition transform 0.3s
	vertical-align middle
	color $textForm
	width 30px

.input__field--kohana:focus ~ .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
	opacity: 0;
	-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}

.input__label-content--kohana,
.icon--kohana,
.input__field--kohana:focus ~ .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--kohana:focus ~ .input__label--kohana .icon--kohana,
.input--filled  .icon--kohana {
	-webkit-transform: translate3d(-.1em, 0, 0);
	transform: translate3d(-.1em, 0, 0);
}
/* estilos inputs */

/* CHECKBOX */
.checkbox
.radio
	display inline-block
	padding 0px 0 0px 34px
	margin-top 0px
	margin-bottom 15px
	margin-top 8px
	width 100%
	label:not(#terminos-error)
		display inline-block
		vertical-align middle
		position relative
		padding-left 14px
		&:before
			content ""
			display inline-block
			position: absolute
			width 34px
			height 34px
			left 0
			margin-left -34px
			border 2px solid #cccccc
			background-color #fff
			transition border 0.15s ease-in-out, color 0.15s ease-in-out
		&:after
			display: inline-block
			position absolute
			width 33px
			height 33px
			left 0
			top -1px
			margin-left -33px
			padding-left 0px
			padding-top 0px
			font-size 25px
			color $customCeleste
			text-align center
		span
		a
			display block
			padding 0
			color $textForm
			font-size 12px
		a
			color $customCeleste
			font-weight 700
			font-size 11px
		
	input[type="checkbox"]
	input[type="radio"]
		opacity 0
		z-index 1
		display block !important
		&:focus + label.check::before
			outline thin dotted
			outline 5px auto -webkit-focus-ring-color
			outline-offset -2px
		&:checked ~ label.check::after
			font-family "FontAwesome"
			content "\f00d"
		&:disabled + label.check
			opacity 0.65
		&:disabled + label.check::before
			background-color #eeeeee
			cursor not-allowed
	&.checkbox-circle label.check::before
		border-radius 50%
	&.checkbox-inline
		margin-top 0
/* CHECKBOX */

/**/
.hideV
	display none
	animation-name fadeOut
	
.showV
	display block
	animation-name fadeIn

/**/

.font_bold
	letter-spacing -1px
	
.copyright
	span
		font-size 27px
		margin-left 4px
	
label.error
	color #f00
	padding 0
	position absolute
	top 50%
	margin-top -5px
	right 10px
	font-size 16px
	
select + label.error
	right 25px
	
.img-responsive
	width 100%
	
input[type="checkbox"] + label.error
	right auto
	left 14px
	top 14px
	z-index 999
	

@media all and (max-width: 992px)
	header
		.brand
			a
				width 166px
				height 42px
		nav
			#nav
				ul
					li
						margin 0 5px

@media all and (max-width: 767px)
	#form-container
		&.expand
			max-height 99%
			#form-close
				right 5vh
				top 5vh
	#form-head
		padding 5vh 2vh 2vh 2vh
	#form-content
		form
			padding 0 2vh 5vh 2vh
	#contact-form
		.form-group
			.form-control
				height 46px
	.input__label--kohana
		height 46px
	.input__label-content
		line-height 46px
	.rowMarginTop
		margin-top 10px
	input[type="submit"].btn-send
		font-size 14px
		line-height 36px
	.textForm + div
		padding 0 15px
	.inputpaddingLaterales
		padding 0 15px
		
@media all and (max-width: 480px)
	.input__label-content--kohana
	select.form-control
		font-size 12px
	#contact-form
		.form-group
			.form-control
				height 40px
	.input__label--kohana
		height 40px
	.input__label-content
		line-height 40px
	.wrapper
		top 0
		left 0
		bottom 0
		right 0
	.divDatos
		display none
	.checkbox label span
	.checkbox label a
		font-size 11px
	#form-head
		padding 2vh 2vh 0vh 2vh
	.inputMarginTop
		margin-top 10px
	#form-container
		&.expand
			#form-close
				top 2vh
	header .social_list
		margin 30px 0 30px 7px
				
@media all and (max-width: 400px)
	header .brand a
		width 120px
		height 30px

@media all and (max-width: 320px)
	.input__label-content--kohana
	select.form-control
		font-size 10px
	#contact-form
		.form-group
			.form-control
				height 35px
	.input__label--kohana
		height 35px
	.input__label-content
		line-height 35px
	.textForm
	.llamanos
	.llamanos + a
	.llamanos + a + a
		font-size 11px
				
			